{{- /* Head custom content area start */ -}}

{{- /* Umami Tracking Code */}}
<script defer src="https://eu.umami.is/script.js" data-website-id="1b582264-1af4-48a5-a1b6-f77e455694a1"></script>

{{- /* Matomo */}}
<script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//dangerous-armadillo.pikapod.net/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '1']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  {{- /* Head custom content area end */ -}}